#include <windows.h> // include for version info constants

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "darkMETAL.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "Forest Hale Digital Services"
			 VALUE "FileVersion", "0.1"
			 VALUE "FileDescription", "darkMETAL-DarkPlaces Game Engine"
			 VALUE "InternalName", "darkMETAL.exe"
			 VALUE "LegalCopyright", "id Software, Forest Hale, and contributors"
			 VALUE "LegalTrademarks", ""
			 VALUE "OriginalFilename", "darkMETAL.exe"
			 VALUE "ProductName", "darkMETAL"
			 VALUE "ProductVersion", "1.0"
		 }
	 }
}
